<%if @data%>
<table>
  <tr>
    <% @data.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>

  <% @data.each do |row| %>
    <tr>
      <% row.each do |header, value| %>
        <td><%= value %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%end%>
